*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #666;
  line-height: 1.8em;
}
.section{
  text-align: left;
  padding: 50px 80px;
}
.section-light{
  background-color: #f4f4f4;
  color: #666;
}
.section-dark{
  background-color: #282e34;
  color: #ddd;
}
.img1, .img2, .img3{
    background-attachment: fixed;
    opacity: 0.8;
    position: relative;
    background-repeat: no-repeat;

}
.img1{
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-image: url('img1.jpg');
}
.img2{
  min-height: 400px;
  background-size: 100% 100%;
  background-image: url('img2.jpg');
}
.img3{
  min-height: 400px;
  background-size: 100% 100%;
  background-image: url('img3.jpg');
}

.text{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.text .border{
  padding: 20px;
  background-color: #111;
  color: #fff;
}

@media(max-width: 568px){ /*anything under 'max-width', this action will be in-affect*/
  .img1, .img2, .img3{
    background-attachment: scroll;
  }
}